.root {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    gap: 20px;
}



.header {
    text-transform: uppercase;
    text-align: center;
}